*{
    // margin: 0;
    // padding: 0;
}

// @font-face {
//     font-family: Franklin;
//     src: url('/HW11/font/LibreFranklin-Regular.ttf');
// }
header{
    // background-color: rgba(198, 108, 73, 0.34);
    background-image:url('../HW11/image/bg.png'), url('../HW11/image/backgr.jpg');
    // background-image: url(image/bg2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
}
@mixin font_text($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    // color: white;
}
.contaainer{
    width: 100%;
    // height: 275px;
    // display: flex;
    // justify-content: center;
    &__head{
        display: flex;
        justify-content: space-between;
        margin: 100px;
        margin-top: 0;
        // align-items: center;
        @include font_text(white,24px,700);
        &__port{
         margin-top: 20px;
     }
        &__main{
            display: flex;
            a{ 
                @include font_text(white,24px,400);
                text-decoration:none;
                margin: 20px;
            }
             a:hover{
        color: blue;
        }
        
    }
    }
    &__main{
        margin-top: 180px;
        margin-left:100px; 
        @include font_text(white,64px,400);
        &__text{
            font-size: 24px;
        }
        &__minitext{
            @include font_text(white,18px,400);
            line-height: 150px;
        }
    }
   
}
.white_block{
    margin: 100px;
    @include font_text(black,14px,400);
    &__about{
        margin-bottom: 50px;
        @include font_text(black,24px,700);
    }
    &__minitext{
    margin-bottom: 40px;
    }
}
.yellow_block{
    background-color:#FFFAF2;
    width: 100%;
    padding: 70px 100px 60px 100px;
    @include font_text(black,24px,700 );
            img{
            width: 300px;
            }
    &__tablle{
        display: flex;
    }
    &__img_and_text{
        display: flex;
    }
   &__skils{
    @include font_text(black,18px,600 );
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-left: 170px;
    p{
        line-height: 35px;
    }
    .glob_profl{
        margin-bottom: 35px;
    }
   }
   &__status{
    @include font_text(black,18px,400 );
    margin-left: 170px;
    width: 500px;
    p{
        line-height: 42px;
    
    } 
    .progress {
        background-color: #F5D6AB;
        border-radius: 0px;
        height: 24px;

    }
    .progress-bar {
        background-color: #C66C49;
        border-radius: 0px;
    }
     .glob_profl{
    margin-bottom: 35px;
   }
}
}

.Portfolio_block{
 padding: 70px 100px 60px 100px;
 @include font_text(black,18px,400 );
    &__headtext{
    @include font_text(black,24px,700 );
    margin-bottom: 50px;
    }
    &__textt_and_img{
     display: flex;
     }
     &__maintext{
     width: 370px;
        .text_research{
         margin-bottom: 50px;
         @include font_text(black,18px,600 );
     }
    }
    &__img_port{
        width: 635px;
        display: flex;
        margin-top: 65px; 
        margin-left: 230px; 
        &__group1{
            width: 350px;
            margin-right: 30px;
         img{
             margin: 20px;
         }
        }
        // &__group2{
        //     float: left;
        // }
    }
    &__arrow{
        svg{
            width: 70px;
            height: 25px;
        }
    }
}
footer{
    @include font_text(black,18px,400 );
    width: 100%;
    background-color: #FFFAF2;
  padding-bottom: 100px;
}
.footer_header_text{
    padding-top: 50px;
    @include font_text(black,24px,600 );
    p{
       margin-left: 195px; 
    }
}
.footer_column{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.footer_arrow{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 30px;
    svg{
        width: 70px;
        height: 25px;
    }
}
@media screen and (max-width:380px) {
// //     .yellow_block__img_and_text{
// // display: flex;
// // flex-direction: column;

//     .yellow_block__tablle{
//     display: flex;
//     flex-direction: row;
//     }
header{
    background-image:url('../HW11/image/bg_mini2.png'), url('../HW11/image/bg_mini.png'); ;
    width: 100%;
    height: 275px;

}
.contaainer{
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__head{
        margin: 0;
        margin-top: 30px;
    }
    &__main{
        margin: 0;
        // display: flex;
        // justify-content: center;
        @include font_text(white,13px,400 );
        &__minitext{
margin: 0;
        }
    }
}
.contaainer__head__main{
    display: none;
}

.white_block{
    margin: 20px;
    &__about{
        display: flex;
        justify-content: center;
    }
}


}




    
