*{
    // margin: 0;
    // padding: 0;
}

// @font-face {
//     font-family: Franklin;
//     src: url('/HW11/font/LibreFranklin-Regular.ttf');
// }
header{
    // background-color: rgba(198, 108, 73, 0.34);
    background-image:url('../HW11/image/bg.png'), url('../HW11/image/backgr.jpg');
    // background-image: url(image/bg2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
}
@mixin font_text($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    // color: white;
}
.contaainer{
    width: 100%;
    &__head{
        display: flex;
        justify-content: space-between;
        margin: 100px;
        margin-top: 0;
        // align-items: center;
        @include font_text(white,24px,700);
        &__port{
         margin-top: 20px;
     }
        &__main{
            display: flex;
            @include font_text(white,24px,400);
            // margin: 20px;
            p{
                margin: 20px;
            }
        }
    }
    &__main{
        margin-top: 180px;
        margin-left:100px; 
        @include font_text(white,64px,400);
        &__text{
            font-size: 24px;
        }
        &__minitext{
            font-size: 18px;
            line-height: 150px;
        }
    }
}
.white_block{
    margin: 100px;
    @include font_text(black,14px,400);
    &__about{
        margin-bottom: 50px;
        @include font_text(black,24px,700);
    }
    &__minitext{
    margin-bottom: 40px;
    }
}
.yellow_block{
    background-color:#FFFAF2;
    width: 100%;
    padding: 70px 100px 60px 100px;
    @include font_text(black,24px,700 );
            img{
            width: 300px;
            }
    &__img_and_text{
        display: flex;
    }
   &__skils{
       margin-left: 150px;
       display: flex;
       p{
        @include font_text(black,18px,400 );
           margin-right: 100px;
       }
   }
}