#related{
    color: white;
    background-color: teal;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
body{
    background-color: silver;
}
.center{
    text-align: center;
    background-color:olive ;
    color: black;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
img{
width: 30%;
height: 30%;
text-align: center;
}