@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Roboto:wght@100&display=swap');
 .container{
     margin: 0 auto;
    width: 800px;
    height: 600px;
  
} 
.one{
    width: 100px;
    height: 500px;
   color: white;
   font-size: 60px;
   font-family: 'BIZ UDMincho', serif;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px rgb(13, 6, 6);
    
}
.one.a{
    background:linear-gradient(360deg, rgb(173, 16, 16), red)
}
.one.r{
    background: linear-gradient(360deg, pink,rgb(170, 107, 170),rgb(72, 72, 142));
}
.one.s{
    background: linear-gradient(360deg, rgb(225, 131, 43), rgb(85, 188, 156));
}
.one.e{
    background: linear-gradient(360deg, rgb(25, 106, 17), rgb(120, 81, 59));
}
.one.n{
    background: linear-gradient(360deg, rgb(216, 165, 182), rgb(221, 79, 119));
}
.one.l{
    background: linear-gradient(360deg, rgb(183, 169, 155), rgb(122, 83, 63));
}

